# Python
__pycache__/
*.pyc
.venv/
.env

# Poetry


# Jupyter
.ipynb_checkpoints/

# Docker
*.log

# SO
.DS_Store
Thumbs.db

# Credenciais — nunca commitar
*.pem
*.key
credentials.json
modulo_ia/tests/imagens_pessoais/
modulo_ia/models/
.coverage
